body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
  color: #333;
}

button {
  background-color: #007bff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  margin-right: 5px;
}

button:hover {
  background-color: #0056b3;
}

input[type="text"] {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

input[type="text"]:focus {
  outline: none;
  border-color: #007bff;
}

div {
  margin-bottom: 10px;
}

.laps-container {
  display: flex;
  flex-wrap: wrap;

  gap: 10px;
}

.lap {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.btn-remove {
  background-color: #dc3545;
  position: relative;
}

.title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 0.5rem;
  display: inline-block;
  background-color: #e9ecef;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.projectWrapper {
  display: flex;
  background-color: #d1d1d1;
  border-radius: 20px;
  width: calc(100% - 40px);
  padding: 0 20px;
}

.projectsContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.generatorContainer {
  display: flex;
  align-items: flex-start;

  gap: 20px;
}
